.cont{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.cont a .delete{
    position: relative;
    left: 280px;
}
.cons{
    display: contents;
}
.art{
    display: flex;
    flex-direction: column;
    width: auto;
}